header{
    height: 80px;
    /* width: 960px; */
    margin: 0 auto;
    background-color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    border-bottom: solid black 1px;
    position: relative;
    /* display: flex;  */
    /* align-items: stretch;      */
}
.headcontent{
    width: 960px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;


}

body{
    background-color: aqua;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.left{
    width: 300px;
    background-color: rgb(31, 31, 168);
    /* position: absolute; */
    left: 20 px;
    margin: 7, 0;
}
.about h1{
    padding: 10px, 0px;
}
.right{
    width: 400px;
    background-color: rgb(31, 168, 72);
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
/* .center{ */
    /* right: 49% }*/
.about{
    height: 40px;
    border-bottom: solid black 1px;
}

.bio1{
    display: flex;
    align-items: flex-start; 
    /* margin: 16px; */
}

.b1{
    width: 960px;
    background-color: blue;
    margin: 0 auto;
    /* display: flex; */
    /* justify-content: center; */

}
.rest{
    padding-bottom:20px;
    margin: 0 20px;
}
.footer{
    position: sticky;
    background-color: gray;
    margin: 0 auto;
    border-top: solid green 2px;
}
.footercontent{
    display: flex;
    justify-content: center;
}